<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/leases-web-context.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>leaseServlet</servlet-name>
		<servlet-class>com.hg.leases.server.LeaseServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>leaseServlet</servlet-name>
		<url-pattern>/LeasesWebGui/leases</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>leaseReportServlet</servlet-name>
		<servlet-class>com.hg.leases.server.report.LeaseReportExportService</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>leaseReportServlet</servlet-name>
		<url-pattern>/LeasesWebGui/leaseReports</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>LeasesWebGui.html</welcome-file>
	</welcome-file-list>

</web-app>
